@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(195, 243, 189), rgb(112, 165, 81));
    color: black;
    padding-top: 110px;

}

.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    background: rgb(195, 243, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.logo {
    height: 55px;
    width: auto;
}

.site-title {
    font-size: 28px;
    color: rgb(6, 59, 9);
    font-weight: 800;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 1000px;
    padding: 75px;
    background: linear-gradient(to top left, rgb(231, 233, 232), rgb(190, 241, 193));
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(2, 63, 2);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 75px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(6, 59, 9);
}

input {
    width: 100%;
    padding: 15px;
    background: rgb(219, 243, 222);
    border-radius: 10px;
    border: inset;
    font-size: 20px;
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 15px;
    background-image: url("login_button.jpg");
    border-radius: 10px;
    border: outset;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1500;
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0 10px 5px rgb(1, 88, 1);
}

p {
    font-size: 15px;
    text-align: center;
}

p a{
    color: rgb(66, 66, 243);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/*.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}

.confirmation-message{
    padding: 12px;
    background: #33a429;
    border-radius: 6px;
    font-size: 16px;
    color: #befd8e;
    text-align: center;
    margin-bottom: 20px;
}

